bower_components
node_modules
Iconr
!/objekter
/objekter/production/*
/objekter/development/*
!objekter/development/library
objekter/development/library/css/styles.css
!objekter/development/indeks.html
