bower_components
node_modules
Iconr
/objekter/production/*
/objekter/development/*
!objekter/development/library
!objekter/development/index_search.html
!objekter/development/indeks.html
/objekter/development/library/img_db_extra_images/*