/************************************************************************************
                Styles fra MAM fra Historie B (oktober 2015) og frem. 
************************************************************************************/

.btn-primary {
    color: #ffffff;
    background-color: #56bfc5;
    border-color: #56bfc5;
}

.btn-primary:hover {
    color: #ffffff;
    background-color: #05a0a8;
    border-color: #05a0a8;
}


/************************************************************************************
                Styles Historie B (oktober 2015) og frem. 
************************************************************************************/

.kilde_henvisning {
    margin-top: 2%;
    margin-left: 2%;
    margin-bottom: 1%;
}

.thumb_overlay {
    background-color: rgba(5, 160, 168, 0.06);
    bottom: 100%;
    height: 100%;
    left: 0;
    position: absolute;
    right: 100%;
    top: 0;
    transition: background-color 0.3s ease 0s;
    width: 100%;
    z-index: 3;
}

.thumb_overlay:hover {
    background-color: rgba(5, 160, 168, 0.5);
}


/************************************************************************************
                Styles Dansk (december 2015) og frem. 
************************************************************************************/

.TextHolder {
    min-height: 100px;
    max-height: 550px;
    width: 750 px;
    padding: 20px 40px 20px 20px;
    margin: 0px, 30px, 30px, 0px;
    background: #fff; 
    border-radius: 6px;
    overflow: auto;
}
