.TaskNumberImg {
    width: 20px;
    margin-bottom: 3px;
}

.CapitalI {
    font-family: "Merriweather";
    font-weight: 100;
}

.new_window_link {
    font-size: 12px;
    left: 30px;
    position: absolute;
    top: 6px;
    color: #0071BC;
    line-height: 1, 5;
}

.new_window_link .btn-info {
    color: black;
    width: auto;
    background-color: #E7E6E2;
    border-color: #E7E6E2;
}

.new_window_link .btn-info:hover {
    background-color: #D0CEC6;
    border-color: #D0CEC6;
}

.footerCopywrite {
    margin: 50px 0 20px 0;
    text-align: center;
}

.footerCopywrite a {
    color: #777;
}

.left {
    float: left;
}

.right {
    float: right;
}


/* ===================================================================================================================================
      Nedenstående overført fra shared_functions_styles.css styles.css fra det gamle Engelsk B workflow, THAN d. 10-08-2015
=================================================================================================================================== */


/* ==========  Indlejring  ========== */

.embedToggle {
    margin-top: 8px;
}

.tabcontainer {
    margin-top: 20px;
    font-size: 12px;
}

.tab {
    padding: 0px 5px;
    border-radius: 2px;
    float: left;
    background-color: #eee;
    color: #222;
    cursor: pointer;
}

.togglecontainer {
    clear: both;
    background-color: white;
    border: 1px solid #eee;
    padding: 4px;
}

.embedtext {
    width: 100%;
    margin-top: -8px;
}

.activetab {
    background-color: white;
}


/* ==========  footer()  ========== */

.container .vuc_footer {
    margin-top: 0;
}

.vuc_footer {
    background-color: #f8f8f6;
    margin-top: 20px;
    padding-bottom: 30px;
    padding-top: 30px;
    text-align: center;
}

.vuc_footer {
    margin-top: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #f8f8f6;
}

.vuc_footer h2 {
    margin-top: 0px;
    margin-bottom: 20px;
    padding: 0px;
}

.footerText {
    margin: 0px;
    color: #666;
}

.footerCopywrite {
    margin-top: 20px;
    margin-bottom: 0px;
}

.scoreText {
    color: #000;
    font-weight: 600;
}


/* ==========  pager  ========== */

.PagerClass {
    display: inline-block;
    margin-bottom: 0px;
}

.PagerContainer {
    display: inline-block;
}

.PagerContainer ul {
    margin: 0px;
    padding: 0px
}

.PagerContainer ul li {
    display: inline;
    margin: 0px;
    padding: 0px;
}

.PagerButtonLeft {
    margin-right: 8px;
    position: relative;
}

.PagerButtonRight {
    position: relative;
    left: -8px;
}


/*******************************************************************************************************************   
        Nedestaaende indsat af THAN d. 27-01-2016: CSS til JS-funktionerne "inctruction()" og "explanation()"   
*******************************************************************************************************************/

.Clear {
    clear: both;
}

.explanation {
    margin-bottom: 20px;
}

.explanation div:nth-child(2) {
    margin-left: 38px;
    margin-top: -28px;
}

.explanation > .glyphicon {
    color: #56bfc5;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.7;
    margin-right: 15px;
    /*top: 2px;*/
}

.instruktion {
    /* Flyttet fra kvuc_design.css */
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
    font-weight: 600;
    padding: 15px 15px 15px 0px;
    margin-bottom: 20px;
    line-height: 1.7;
    float: left;
    position: relative;
}

.instr_container {
    margin-left: -12px;
}

.instruktion:before {
    /* Flyttet fra kvuc_design.css */
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    left: 0;
    bottom: -2px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}

.instruktion > .glyphicon-arrow-right {
    /* Flyttet fra kvuc_design.css */
    color: #56bfc5;
    font-size: 18px;
    margin-right: 15px;
    font-weight: 600;
    line-height: 1.7;
    top: 2px;
}

.instruktion {
    width: 100%;
}

.instruktion div:nth-child(2) {
    /* width: 83%;  /* Udført af THAN d. 4/4-2016. Sat ned fra 90% til 83%, så "instruktion" i danA_markering ikke break'er */
    margin-left: 36px;
    margin-top: -28px;
}

@media (max-width: 750px) {
    .instruktion > .glyphicon {
        font-size: 14px;
        top: -4px;
    }
}


/*Denne style anvendes i videquizzerne, er vist blevet slettet ved en fejl.. */


/*ATO 4.marts 2016*/

.h4 {
    font-size: 18px;
}


/* =======   Nedenstående er tilføjet d. 10/3-2016 af THAN, således at "slutsenarie" i UserMsgBox passer til MAMs design v22  ======= */

#UserMsgBox .scoreWrapper {
    padding-top: 10px;
    padding-bottom: 10px;
}

#UserMsgBox .scoreWrapper h4 {
    display: inline;
}

#UserMsgBox h3 {
    font-weight: 600;
}

#UserMsgBox h3 .label {
    position: relative;
    bottom: 3px;
}


/* LYDKNAPPER CSS  */

.btn_sound {
    position: absolute;
    z-index: 100;
}

.glyphicon-fullscreen:before {
    margin-left: 10px;
}

.CloseClass {
    margin-top: -25px;
    margin-right: -25px;
    z-index: 1000;
    padding: 15px 15px 55px 75px;
}


/* =======   Microhint styling  ======= */

.microhint {
    position: absolute;
    z-index: 100;
    cursor: pointer;
    /*font-size: 1vw;*/
    font-size: 14px;
    background-color: #333333;
    color: white;
    padding: 4px;
    border-radius: 6px;
    line-height: 21px;
    max-width: 300px;
    padding: 30px 30px 30px 30px;
    box-shadow: 2px 2px 5px #999999;
}

.microhint_label_success {
    width: 100%;
    background-color: #2abb2a;
    border-radius: 4px;
    padding: 10px 20px 10px 20px;
    margin-bottom: 10px;
}

.microhint_label_danger {
    width: 100%;
    background-color: #ed3e3a;
    border-radius: 4px;
    padding: 10px 20px 10px 20px;
    margin-bottom: 10px;
}

.triangle {
    color: #333333;
    font-size: 30px;
    position: absolute;
    z-index: -1;
}

.rotate_triangle {
    -ms-transform: rotate(180deg);
    /* IE 9 */
    -webkit-transform: rotate(180deg);
    /* Chrome, Safari, Opera */
    transform: rotate(180deg);
}

.microhint_close {
    position: absolute;
    color: #ddd;
    top: 5px;
    right: 5px;
    font-weight: 700;
    font-size: 14px;
    /* background-color: #555; */
    width: 23px;
    padding-left: 7px;
    height: 24px;
}

@media screen and (max-width: 699px) and (min-width: 520px) {
    
}


/* =======   Microhint style slut  ======= */


/* SKJUL DOWNLOAD KNAPPEN */

audio::-internal-media-controls-download-button {
    display:none;
}

audio::-webkit-media-controls-enclosure {
    overflow:hidden;
}

audio::-webkit-media-controls-panel {
    width: calc(100% + 30px); /* Adjust as needed */
}

/* SKJUL DOWNLOAD KNAPPEN SLUT*/
